#signupform {

width: 550px;
height: 600px;
background-image: url("bg.png"); 
}




body {
font-family: Segoe Marker ;
color: #CD5555;
text-align: left;
font-size: 70px;
font-weight: bold;
background-image: url("oil.jpg"); 

}