<head>
<title>Form</title>
<link rel="stylesheet" type="text/css" href="css.css">
</head>
<script type="text/javascript" src="java.js"></script>

		<center><div id ="signupform">
			<p id="fontstyle"><hl>Sigh up form</h1></p>

<body>			
		<form name="signup" method="post" action="page2.html" onsubmit="return validate(this)">
			<table>
				<tr>
					<td>Forename:</td>
					<td><input type="text" name="forename"></td>
				</tr>
				<tr>	 
					<td>Surname:</td>
					<td> <input type="text" name="surname"></td>

				</tr>

				<tr>
					<td>Usename:</td>
					<td> <input type="text" name="usename"></td>
				</tr>

				<tr>
					<td>Password:</td>
					<td> <input type="password" name="pass"></td>
				</tr>

				<tr>
					<td>Age:</td>
					<td> <input type="number" name="age"></td>
				</tr>

				<tr>
					<td>Email:</td>
					<td> <input type="text" name="email"></td>
				</tr>
					
				<tr>
					<td></td>
					<td><input type= "submit" value="Sign Up"></td>
				</tr>
					</div>
			</table>

</form>
</body>
